body{
    background: #1e1f24;
    color: #333;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
}
#header{
    width: 80%;
    background: #4880e9;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.8);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}
#header #logo{
    width: 20px;
    vertical-align: middle;
}
.mapContenedor{
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.map{
    width: 80%;
    height: 201px;
    background-color: rgb(226, 175, 81);
    margin-top: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.8);
}
.sliderContenedor{
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.slider{
    width: 80%;
    height: 100px;
    background-color: rgb(104, 240, 144);
    margin-top: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.8);
}
.contenidosContenedor{
    width: 100%;
    display: flex;
    justify-content: center;
}
.contenidos{
    width: 80%;
    height: 45vh;
    background-color: rgb(193, 103, 235);
    margin-top: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.8);
}