:root{
    /*Colores*/
    --bg-gray:#333;
    --header-blue: #4666F3;
    --slider-green: #68F090;
    --map-aqua: #78ECD7; 
    --shadow-box: 0px 2px 20px 0px rgba(0,0,0,0.8);
}
/*BOX SIZING*/
body{
    background: var(--bg-gray);
    color: #333;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
html{
    font-size:62.5%;
    font-family: 'Raleway', sans-serif;
}
header{
    width: 100%;
    display: flex;
    justify-content: center;
}
.header__title--container{
    width: 80%;
    background-color: var(--header-blue);
    box-shadow:var(--shadow-box);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.slider__title--container{
    width: 80%;
    height: 100px;
    margin-top: 2px;
    font-size: 14px;
    color: rgb(40, 40, 40);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--shadow-box);
    background-color: var(--slider-green);
}



